{% extends 'base.html' %}

{% block title %} 
Performance
{% endblock %}

{% block content %}


<br>


<h4 class="display-8 fw-normal text-body-emphasis">AI Interview Chat</h4>

<br>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!-- char-area -->
    <section class="message-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="chat-area">
                        <!-- chatbox -->
                        <div class="chatbox">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="msg-head">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img class="img-fluid rounded-circle img-thumbnail custom-thumbnail" src="{{ url_for('static', filename='img/chesa.png') }}" alt="chesa">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h3>Meet Chesa! Your AI Assistant</h3>
                                                        <p>She will be answering all your questions about me.</p>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>

<!-- classes sender, repaly, divider -->
                                    <div class="modal-body">
                                        <div class="msg-body">
                                            <ul id="chtbox">
                                                <li class="sender">
                                                    <p> Hey, Im Chesa and ill be your virtual assistant today. What Can I do for you? </p>
                                                </li>

                                                <li style="display:none;  font-style: italic;" class="typing" id="typingli">
                                                    <p><i id="typing-text">Chesa is typing something</i> </p>
                                                   
                                                </li>

                                            </ul>
                                        </div>
                                    </div>


                                    <div class="send-box">
                                        <form action="" id="myForm">
                                            <input type="text" id="humanMessage" name="humanMessage" class="form-control" aria-label="message…" placeholder="Write message…">

                                            <button id="send-button" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                                        </form>

                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatbox -->


                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- char-area -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}



{% block jscontentend %} 

{% endblock %}