{% extends 'base.html' %}

{% block title %} 
Anthony Estrada
{% endblock %}

{% block content %}


<br>
<section>
  <!--write up-->
  <div class="row row-cols-1 row-cols-md-2 mb-3 text-left"> <!--start of visual-->
    <div class="col">
      <div class="mb-4 rounded-3">
         
            <div class="">
             abc
              
            </div>
      </div>
    </div>
    <div class="col">
        <div class="mb-4 rounded-3">
          
              <p>
                Hello! Welcome to my page.
<br><br>
I am Anthony Estrada, currently a Senior Engineer at STMicroelectronics. 
For the past 8 years, I have been working with data, focusing on data engineering, business intelligence and analytics. 
Currently, I am learning AI and NLP, inspired by the potential of automation and chatbots. 
</br></br>
I love coaching, building things, and solving problems. 
If you need my services or want to collaborate on some projects, please feel free to reach out.
              </p>
        </div>
    </div>
   
</div>

<!--
<div class="row row-cols-1  mb-3"> 
   
  <div class="col">
    <div class="">
        <div class="">
        abc
        </div>
    </div>
  </div>

</div>
-->



</section>


<h4 class="display-8 fw-normal text-body-emphasis">Career History</h4>

<!-- Timeline 7 - Bootstrap Brain Component -->
<section class="bsb-timeline-7  py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-12 col-xl-10 col-xxl-9">

        <ul class="timeline">
          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-meta">
                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-primary-subtle border border-success-subtle rounded-2 text-md-end">
                  <span class="fw-bold">Nov 2022 - Present</span>
                  <span>STMicroelectronics</span>
                </div>
              </div>
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-title mb-2">Senior Engineer - Data Analytics</h5>
                    <h6 class="card-subtitle text-secondary mb-3">Power BI, Python, Azure, Synapse, ADLS2, Databricks, Oracle, MariaDB</h6>
                    <p class="card-text m-0">Researched and developed solutions that saved over $200,000 in equipment usage costs and enhanced efficiency tracking. Engineered two Python-based software products to monitor machine logs, validate data, and detect anomalies. Additionally, significantly reduced the processing time of Oracle MES Server algorithms by 60% to 90%. Also implemented a self-service reporting solution that increased team productivity and managed a data engineering team of five members. Currently working on data centralization project on Azure.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-meta">
                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-primary-subtle border border-success-subtle rounded-2 text-md-end">
                  <span class="fw-bold">March 2022 - Present</span>
                  <span>Upwork / Freelancing</span>
                </div>
              </div>
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-title mb-2">Microsoft Fabric Development - Mar 2024 - Present</h5>
                    <h6 class="card-subtitle text-secondary mb-3">Freelance</h6>
                    <p class="card-text m-0">Created and architeched Microsoft Fabric Lakehouse and Data warehouse. Data source are from ADSL2, Azure MSQL and REST APIS. Used data factory and some notebook for data ingestion. </p>
                  </div>
                </div>
                <br><br>
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-title mb-2">OTaxi Aug 2023 - Jan 2024</h5>
                    <h6 class="card-subtitle text-secondary mb-3">Freelance</h6>
                    <p class="card-text m-0">Perform traning in usage of Microsoft Power BI, Created dashboard and reports and design a web application that will served as report extaction tool for external users.</p>
                  </div>
                </div>
                <br><br>
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-title mb-2">weloveland.com March 2023 - Jun 2023</h5>
                    <h6 class="card-subtitle text-secondary mb-3">Upwork</h6>
                    <p class="card-text m-0">Architeched a database for real estate CRM application. Created an ETL tool to load complex excel file to postgres database hosted at supabase.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-meta">
                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-primary-subtle border border-success-subtle rounded-2 text-md-end">
                  <span class="fw-bold">May 2016 - Nov 2016</span>
                  <span>Asuion Hong Kong LTD</span>
                </div>
              </div>
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-title mb-2">Business intelligence Developer 3</h5>
                    <h6 class="card-subtitle text-secondary mb-3">Power BI, Python, Azure, AWS, Synapse, ADLS2, Databricks, MSSQL, Mysql</h6>
                    <p class="card-text m-0">Successfully led and completed three major big data and platform migration projects, demonstrating my ability to manage complex initiatives from inception to completion. In addition, Engineered new software products using Python and C#, significantly enhancing the productivity and operational efficiency of the supply chain and production departments.

                      Furthermore, I implemented a data warehouse to streamline reporting solutions, ensuring data accuracy and accessibility. I also established development standards for SQL, PowerBI, and Data Warehouse, promoting consistency and best practices across the organization.
                      
                      My work extensively involved Azure, Azure Synapse, and Data Factory, leveraging these technologies to optimize data management and analytics capabilities.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-meta">
                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-primary-subtle border border-success-subtle rounded-2 text-md-end">
                  <span class="fw-bold">Sept 2012 - Nov 2015</span>
                  <span>Isuzu Automotive Dealership Inc.</span>
                </div>
              </div>
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-title mb-2">System Analyst / Programmer</h5>
                    <h6 class="card-subtitle text-secondary mb-3">C#, Asp.net, Javascript, MSQL, SSIS</h6>
                    <p class="card-text m-0">Successfully completed a data migration project to consolidate three different ERP systems, ensuring seamless integration and data consistency across the organization. Independently, I addressed major bottlenecks and eliminated database lockups in MS SQL Server by implementing a data warehouse and data purging strategies. These improvements significantly increased performance and eliminated transaction losses, saving the company $100,000 annually in downtime costs.

                      Additionally, I led the conversion of the current ERP system from a Windows-based application to a web-based application, enhancing accessibility and user experience.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
      
        </ul>

      </div>
    </div>
  </div>
</section>
   

{% endblock %}



{% block jscontentend %} 

{% endblock %}